body{
	background-color: black;
	color: white;
}

}.margin{
	margin-top: 50px;
}

.cuadro{
	border: 1px solid;
	border-color: black;
	height: 90px;
}

.color-uno{
	background-color: #d6d6d6;
	color: black;
}

.color-dos, .color-tres{
	color: white;
}

.color-dos{
	padding-top: 60px;
	background-color: #4c4c4c;
	font-size: 70px;
	height: 150px;
}

.color-tres{
	background-color: #f5923d;
	
}

.color-uno, .color-tres{
	padding-top: 20px;
	font-size: 40px;
}

.color-uno:hover, .color-tres:hover{
	box-shadow: inset 0px 0px 25px  darkgrey;
	color: #4c4c4c;
}
