.margin{
	margin-top: 50px;
}
a{
	padding-top: 20px;
	text-align: center;
	font-size: 40px;
}

.cuadro{
	border: 1px solid;
	border-color: black;
	height: 90px;
}

.color-uno{
	background-color: #d6d6d6
}

.color-dos, .color-tres{
	color: white;
}

.color-dos{
	padding-top: 60px;
	background-color: #4c4c4c;
	font-size: 70px;
	height: 150px;
}

.color-tres{
	background-color: #f5923d;
	
}